.horse-cards {
    margin: 2rem auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80rem;
    gap: 2rem;   
}



.mat-card {
    display: grid;
    background-color: white;

    margin-top: 2rem;
    max-width: 20rem;

    img[alt] {
        padding-left: 1rem;
    }

    .mat-card-actions {
        align-self: end;
        justify-self: right;
        button {
            background-color: var(--color-success);
        }
    }
}

// @media screen and (min-width: 767px) {
//     .horse-cards {
//         display: grid;
//         grid-template-columns:  repeat(2, 20rem);
//         grid-auto-rows: 37.5rem;
//         justify-content: center;
//         grid-gap: 2rem;
//     }

//     .horse-card {
//         display: grid;

//         .mat-card-actions {
//             align-self: end;
//             padding: 0 0.75rem 2rem 0;
//             text-align: right;
//         }
//     }



// }