<div class="photo-area" >
    <div class="entry-text">
        <div class="main-heading">
            <h1>Sunnyview Stables</h1>
            <h3>Luxury accommodation for your horse</h3>
        </div>
    
        <div class="login-btn-wrapper">
            <button mat-raised-button
                color="accent"
                class="login-btn"
                (click)="startLogin()">Login
           </button>
        </div>
      
    <div class="login">
        <app-login></app-login>
    </div>   
</div> 
