<div class="photo-area" >
   
        <div class="main-heading">
            <h1>Sunnyview Stables</h1>
            <h3>Luxury accommodation for your horse</h3>
        </div>
    
        <div class="login-btn-wrapper">
            <button *ngIf="!loggedIn"
                mat-raised-button
                color="accent"
                class="login-btn"                
                (click)="startLogin()">Login
           </button>
           <button *ngIf="loggedIn"
                    mat-raised-button
                   (click)="enterApp()"
                   class="enter-app-btn"
                   color="accent">Enter Site               
           </button>
        </div>
      
        <div class="login">
            <app-login (loginSuccess)="enterApp()"></app-login>
        </div>   
   
</div>
