<div class="add-update-page">
    <app-nav></app-nav>
    <div class="wrapper">   
    
            <form class="horse-form"
                *ngIf="horseForm"
                novalidate
                [formGroup]="horseForm">
            
                <div class="form-fields">   
                    <h2 class="title">{{addMode ? 'Add Horse' : 'Edit Horse'}}</h2>  
        
                    <mat-form-field appearance="fill" class="name-field form-field">
                        <mat-label>Name</mat-label>
                        <input formControlName="name" 
                                matInput 
                                required>
                        <mat-error *ngIf="nameFromForm.invalid">Please enter horse's name</mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="fill" class="dob-field form-field">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [matDatepicker]="picker"
                               formControlName="dob"
                               [min]="minDob" [max]="maxDob" 
                               required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="dobFromForm.invalid">Please select horse's date of birth</mat-error>
                    </mat-form-field>      
                
                    <mat-form-field appearance="fill" class="sex-field">
                        <mat-label>Sex</mat-label>
                        <mat-select formControlName="sex" required>
                            <mat-option *ngFor="let sex of sexes"
                                        [value]="sex.id" required> {{sex.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="nameFromForm.invalid">Please select horse's sex</mat-error>
                    </mat-form-field>        
                
                    <mat-form-field appearance="fill" class="colour-field">
                        <mat-label>Colour</mat-label>
                        <mat-select formControlName="colour" required>
                            <mat-option *ngFor="let colour of colours"
                                        [value]="colour.id"> {{colour.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="colourFromForm.invalid">Please enter horse's colour</mat-error>
                    </mat-form-field>
                
                    <mat-form-field appearance="fill" class="height-field">
                        <mat-label>Height (hands)</mat-label>
                        <mat-select formControlName="height" required>
                            <mat-option *ngFor="let height of heights"
                                        [value]="height.id"> {{height.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="heightFromForm.invalid">Please enter horse's height</mat-error>
                    </mat-form-field>                                

                    <mat-form-field appearance="fill" class="owners-select">
                        <mat-label>Owners</mat-label>
                        <mat-select multiple formControlName="owners" required>
                            <mat-option *ngFor="let owner of ownersSelect"
                                        [value]="owner.id"> {{owner.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="ownersFromForm.invalid">Please enter at least one owner</mat-error>
                    </mat-form-field>            
 
                    <div class="add-new-owner-wrapper">
                        <a mat-button
                            (click)=openAddOwnerDialog()
                            class="add-owner-button">
                            <mat-icon class="icon">add</mat-icon>Add new owner
                        </a>  
                    </div>
    
                    <input 
                        type="file"                    
                        (change)="onPhotoAdded($event)"
                        #fileInput>    

                    <div *ngIf="(addMode && previewPhoto) || (!addMode && (horse.imageUrl || uploadedPhoto ))"
                            class="previewPhotoWrapper">
                        <img class="small-photo"
                                [src]="previewPhoto ? previewPhoto : (addMode ? null : horse.imageUrl)"
                                    alt=""/>       
                    </div>             
                 
                    <button mat-raised-button
                        class="upload-btn btn"
                        (click)="fileInput.click()"  >
                        {{ (!addMode && horse.imageUrl) || uploadedPhoto ? 'Change Photo' : 'Add Photo' }}                         
                    </button>                   

                    <button mat-raised-button 
                            class="reset-btn btn"
                            *ngIf="previewPhoto"
                        (click)="clearUploadPhoto()">
                        Reset Photo                          
                    </button>          
                    
                    <div class="submit-area">   
                        <br>                         
                        <mat-divider></mat-divider>
                        <div class="buttons-area">
                            <a mat-raised-button
                               [routerLink]="['/horse']" queryParamsHandling="merge" >Cancel</a>
                         <button mat-raised-button 
                                 color="primary"
                                 type="button"
                                 (click)="submitForm()">{{addMode ? 'Add Horse' : 'Edit Horse'}}</button>
                        </div>

                    </div>


                </div>
               

            </form>           
        </div>  
      
</div>

