@import "../../../scss/mixins";

.add-update-page {
    @include grazing-horse-background;
}

.container {
    height: var(--main-area-height);     
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center; 
    
}   

.form {
    padding: 1rem;
    width: 45rem;
    background-color: white;
    
}

.form-fields {
    display: grid;   
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    column-gap: 1.5rem;
}


.name-field {
    grid-column: 1 / -1;
    width: 30rem;
}

.owners-area {
    .owners-select {
        width: 19rem;    
    }

    button {
        margin-bottom: 1rem;
    }
}


.photo-area {
    input {
        display: none;
    }

    .photo-upload-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
     
        .previewPhotoWrapper {
            max-width: 15rem;
            height: auto;
         
            .small-photo {
                max-width: 100%;
                height: auto;
            }            
        } 
     }
}

.submit-area {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    padding: 1.5rem 0;

    button {
        background-color: var(--color-success);
    }

    a {
        background-color: var(--color-secondary);
        color: white;
    }

    button, a  {
        padding: 0.25rem 2rem;
    }
}

