<app-nav></app-nav>
<h2>Add Horse</h2>
<mat-divider></mat-divider>
<div class="form-wrapper">

    <form class="form" 
          *ngIf="horseForm"
          novalidate
          [formGroup]="horseForm">
        <h3>Basic Details</h3>        
        <div class="main-controls">     
            <div class="form-control">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" 
                            matInput>
                </mat-form-field>
            </div>

            <div class="form-control">
                <mat-form-field appearance="fill">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker"
                           formControlName="dob">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
    
            <div class="form-control">
                <mat-form-field appearance="fill">
                    <mat-label>Sex</mat-label>
                    <mat-select formControlName="sex">
                        <mat-option *ngFor="let sex of sexes"
                            [value]="sex.id"> {{sex.name}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="form-control">
                <mat-form-field appearance="fill">
                    <mat-label>Colour</mat-label>
                    <mat-select formControlName="colour">
                        <mat-option *ngFor="let colour of colours"
                                   [value]="colour.id"> {{colour.name}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
 
            <div class="form-control">
                <mat-form-field appearance="fill">
                    <mat-label>Height (hands)</mat-label>
                    <mat-select formControlName="height">
                        <mat-option *ngFor="let height of heights"
                                   [value]="height.id"> {{height.name}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div> 
        </div>
        <mat-divider></mat-divider>

        <h4>Owners</h4>
        <div class="owners-area">
            <div class="owners-select">
                <mat-form-field appearance="fill">
                    <mat-label>Owners</mat-label>
                    <mat-select multiple formControlName="owners">
                        <mat-option *ngFor="let owner of ownersSelect"
                                    [value]="owner.id"> {{owner.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
 
        </div>

        <mat-divider></mat-divider>
        <h3 >Photo</h3>
        <div class="photo-area">
            <div class="">
                <input 
                    type="file"                    
                    (change)="onPhotoAdded($event)">  
                <div class="" *ngIf="invalidPhoto">                           
                    Sorry! photo is not valid
                </div>  
            </div>
            <div class="previewPhotoWrapper">
                <img class="small-photo"
                      [src]="previewPhoto"
                      [ngClass]="{'no-display': !previewPhoto }"
                      alt=""/>       
            </div>
        </div>        
       


    </form>
    
</div>

<h4>Form values: {{ horseForm.value | json }}</h4>
<h4>height: {{horseForm.value.height}}</h4>

