.add-update-page {
    position: relative;       
    height: 100vh; 
    overflow: hidden;   
    
    &::before {
        content: "";
        position: absolute;
        top:0; right:0; bottom:0; left:0;
        background: url(/assets/formBackground2.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
        opacity: 0.75;
        z-index: -1;
    }
}

.container {
    height: var(--main-area-height);     
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center; 
    
}   

.form {
    padding: 1rem;
    width: 45rem;
    background-color: white;
    
}

.form-fields {
    display: grid;   
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    column-gap: 1.5rem;
}

.name-field {
    grid-column: 1 / -1;
    width: 30rem;
}

.owners-area {
    .owners-select {
        width: 19rem;    
    }

    button {
        margin-bottom: 1rem;
    }
}


.photo-area {
    input {
        display: none;
    }

    .photo-upload-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
     
        .previewPhotoWrapper {
            max-width: 15rem;
            height: auto;
         
            .small-photo {
                max-width: 100%;
                height: auto;
            }            
        } 
     }
}

.submit-area {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 0;

    button  {
        padding: 0.25rem 2rem;
    }
}