.container {
    height: var(--main-area-height);     
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center; 
   
}   

.form {
    padding: 1rem;
    width: 45rem;
    background-color: white;
    
}

.form-fields {
    display: grid;   
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    column-gap: 1.5rem;
}

.name-field {
    grid-column: 1 / -1;
    width: 30rem;
}

.owners-select {
    width: 19rem;    
}

// .add-owner-button {
//    position: relative;
//    top: -1.5rem;
//    left: -1rem; 
//    font-weight: 400;
// }

.photo-area {
    input {
        display: none;
    }

    .photo-upload-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
     
        .previewPhotoWrapper {
            max-width: 15rem;
            height: auto;
         
            .small-photo {
                max-width: 100%;
                height: auto;
            }
            
        } 
     }
}


    .add-update-page {
        background: url(/assets/formBackground2.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
        max-width: 100vw;
        height: 100vh;         
    }

