.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

.form-element * {
    width: 95%;

    input {
        font-size: 16px;
    }
}

button {
    height: 2.5rem;
}