@import "../../../scss/mixins";

@mixin grid-names {
    .name { grid-area: name}
    .image-area { grid-area: photo }
    .info-area {grid-area: info}
    .back-button { grid-area: back}
    .edit-button { grid-area: edit}
}

.horse-detail { 
    @include grid-names();   
    display: grid;
    background-color: white;
    padding: 1rem; 
    border-radius: 0.5rem;
     
    grid-template-areas: "name name name name"
                         "photo photo photo photo"
                         "info info info info"                
                         "back back back back"
                         "edit edit edit edit";                    
     
    h2 {
        margin-bottom: 0.5rem;
    }

    .image-area {
        img {
            max-width: 100%;
            height: auto;   
            border-radius: 0.5rem;        
        }     
    }  

    .info-area {
        .info-item{
             padding: 0.5rem;
            .label, .value {
                display: inline-block;
            }
            .label {
                width: 6rem;
            }
        }

        .owners-item {
            padding: 0.5rem;
            .owners-label, .owners-value {  
                display: inline-block;
            }

            .owners-label {
                width: 6rem;
            } 
        }
    }
    
    .mat-raised-button {
        color: white;
        margin-top: 0.5rem;
        padding: 0.3rem 0;
    }
            
    .back-button {
        background-color: var(--color-secondary);

        &:hover {
            background-color: var(--color-secondary-darker);
        }
    }

    .edit-button {
        background-color: var(--color-success);

        &:hover {
            background-color: var(--color-success-darker);
        }
    }
}

@media screen and (max-width: 767px),
       screen and (max-height: 649px) {
        .whole-page {
            background: #F5FCE8 url("../../../assets/mobilebackground.jpg") no-repeat;
            background-size: cover;
            padding: 1rem;
            min-height: 100vh;

            @media (min-width: 400px ) and (orientation: landscape)  {
                padding: 2rem 5rem;
            } 
            
            @media (min-width: 600px ) and (orientation: landscape)  {
                padding: 2rem 10rem;
            } 
            
            @media (min-width: 800px ) and (orientation: landscape)  {
                padding: 2rem 15rem;
            } 
        }  

        .horse-detail {         
            margin: 0 auto;              
        }           
}

@media screen and (min-width: 768px) and (min-height: 650px) {
   
    .whole-page {
        @include grazing-horse-background;
                    height: var(--main-area-height);
                    display: flex;
                    justify-content: center;
                    align-items: center;
    }        


    .horse-detail {
        width: 40rem;
        height:auto;
  
        grid-template-areas: "name name name . .  "
                             ". photo photo photo . "
                             "info info info info info"                                               
                             "back back . edit edit";

        gap: 0;
        row-gap: 1rem;
        padding: 2rem 0 2rem 2.5rem;
     

        h2 {
            padding-left: 2rem;
        }

        .image-area {
            img {
                max-width: 20rem;
                height: auto;
                margin-left: 5rem;     
            }     
        }  
 
        .info-area {
            display: grid;
            grid-template-columns: 5fr 7fr;
            margin: 1.5rem 0 1rem 4rem;   

            .info-item:nth-child(odd) {
                .label {
                    width: 4rem;
                }               
            }

            .info-item:nth-child(even) {
                .label {
                    width: 6rem;
                }
            }

            .owners-item {
                grid-column: span 2;
                .owners-label {
                    width: 4rem;
                }
            }
        }

        .back-button, .edit-button {
            width: 10rem;
            padding: 0.1rem;
        }

        .back-button {
            margin-left: 2.5rem;          
        }

        .edit-button {
            margin-right: 5rem;
        }        
    }
}