<app-nav></app-nav>
<div class="whole-page">
    <div class="horse-detail">      

        <h2 class="name">{{horse.name}}</h2>

        <div class="image-area">
            <img [src]= "horse.imageUrl ? horse.imageUrl : 'assets/horseplaceholder1.png'" 
                    class="img"
                    onerror="this.style.border=0" 
                    alt="no image of {{horse.name}} available yet">
        </div>         
 
        <div class="info-area">
            <div class="info-item">
                <div class="label">Height:</div>
                <div class="value">{{horse.heightHands}}</div>        
            </div>
 
            <div class="info-item">
                <div class="label">Sex:</div>
                <div class="value">{{horse.sex}}</div>
            </div>

            <div class="info-item">
                <div class="label">Colour:</div>
                <div class="value">{{horse.colour}}</div>
            </div>

            <div class="info-item">
                <div class="label">Date of Birth:</div>
                <div class="value">{{horse.dob | date: 'd MMM y'}}</div>
            </div>
    
            <div class="owners-item">
                <div class="owners-label">Owners:</div>
                <div class="owners-value">{{horse.displayOwners}}</div>     
            </div>

        </div>
 
        <a mat-raised-button
            class="back-button"
            [routerLink]="['/horse']" queryParamsHandling="merge" >
            <mat-icon>arrow_back</mat-icon>Back to list
        </a>
        
        <a mat-raised-button
           *ngIf="updateAccessAllowed" 
            class="edit-button"                        
            [routerLink]="['/horse/add-edit', horse.id]" queryParamsHandling="merge"
            >Edit
        </a>

    </div>
</div>

