<app-nav></app-nav>
<div class="whole-page">
    <div class="horse-detail">
      
            <h2>{{horse.name}}</h2>

            <div class="image-area">
                <img [src]="horse.imageUrl" alt="image of {{horse.name}}">
            </div>      
 
            <div class="detail-item">
                <div class="label">Height:</div>
                <div class="value">{{horse.heightHands}}</div>
            </div>

            <div class="detail-item">
                <div class="label">Sex:</div>
                <div class="value">{{horse.sex}}</div>
            </div>        
       
            <div class="detail-item">
                <div class="label">Colour:</div>
                <div class="value">{{horse.colour}}</div>
            </div>

            <div class="detail-item">
                <div class="label">Date of Birth:</div>
                <div class="value">{{horse.dob}}</div>
            </div>
       
            <div class="detail-item">
                <div class="label">Owners:</div>
                <div class="value">{{horse.displayOwners}}</div>           
            </div>
 
            <div class="button-area">
                <a mat-raised-button
                   class="back-button"
                   [routerLink]="['/horse']" queryParamsHandling="merge" >
                    <mat-icon>arrow_back</mat-icon>Back to list
                </a>
                <a *ngIf="updateAccessAllowed" mat-raised-button
                        class="edit-button"                        
                        [routerLink]="['/horse/add-edit', horse.id]" queryParamsHandling="merge"
                        >Edit</a>
            </div>  
    </div>
</div>

