.dialog-container {
    height: 40rem;
    width: 25rem;
}

.mat-form-field {
    display: block;  
    margin-top: 0.5rem; 
}

.mat-dialog-actions {
    display: flex;
    justify-content: center;
    column-gap: 2rem;

    a {
        background-color: var(--color-secondary);
        color: white;
    }

    button {
        background-color: var(--color-success);
    }

}

