<div class="dialog-container" id="">
    <h2 mat-dialog-title>Add Owner</h2>
    <form novalidate
          [formGroup]="ownerForm" >
        <mat-dialog-content>
      
            <mat-form-field>
                <input matInput
                        placeholder="Email"
                       formControlName="email">
                 <mat-error *ngIf="emailFromForm.invalid">Please enter a valid email</mat-error>
            </mat-form-field>
          
            <mat-form-field>
                <input matInput
                        placeholder="First Name"
                       formControlName="firstName">
                <mat-error *ngIf="emailFromForm.invalid">Please enter first name</mat-error>      
            </mat-form-field>  
              
            <mat-form-field>
                <input matInput
                        placeholder="Last Name"
                       formControlName="lastName">
                <mat-error *ngIf="emailFromForm.invalid">Please enter last name</mat-error>
            </mat-form-field>  
        
        </mat-dialog-content>
        
        <mat-dialog-actions class="dialog-actions">
            <a class="mat-raised-button" (click)="close()">Close</a>
            <button class="mat-raised-button mat-primary"
                    type="button"
                    [disabled]="ownerForm.invalid"
                    (click)="addOwner()">Add Owner</button>
        </mat-dialog-actions>
    
    </form>

    
</div>
