<div class="navbar">

    <nav class="nav"> 
        <ul class="left-nav">
            <li class="menu-btn mobile-links">
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Horses</button>
                    <button mat-menu-item>About</button>
                    <button mat-menu-item>Contact</button>
                </mat-menu> 
            </li>
                   
            <li class="title">
                Sunnyview Stables
            </li>   

            <div class="desktop-links">
                <li>Horses</li>
                <li>About</li>
                <li>Contact</li>               
            </div>
        </ul>
        <div class="right-nav">            
            <p class="greeting">Hello Alexander Graham</p>
            <a (click)="logout()">Sign out?</a>           
        </div>      
    </nav>
    
</div>

