.nav {
    background-color: var(--color-primary);
    color: white;
    height: 5rem;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.left-nav {
    display: flex;

    .menu-btn {
        padding: 0;
    }

    .title {
        font-size: 1.25rem;
        display: flex;
        align-items: center;
    }

    .desktop-link {
        li {
           display: none;
        }
    }
}

.right-nav {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;

    .greeting {
        font-size: 1.1rem;
    }

    a {
        align-self: flex-end;
    }
}



@media screen and (min-width: 960px) {
    .left-nav {
        .title {
            display: inline-block;
            width:17rem;
            height: auto;
            font-size: 1.5rem;
        }

        .mobile-links {
            display: none;
        }
    
        .desktop-link {
            display: inline-block;
            padding-top: 0.35rem;
            width:6rem;
            height: auto;            
        }             
    }
}