<app-nav></app-nav>
<main class="container">
    <header>
        <h1>Horses</h1>
        <mat-form-field appearance="outline">
            <mat-label>Filter</mat-label>
            <mat-icon matPrefix>filter_list</mat-icon>
            <input matInput placeholder="Filter">                
            <mat-hint>Filter on something????</mat-hint>
          </mat-form-field>
    </header>
   
    <nav class="horse-nav">
        <ul>
            <li class="non-mobile"><a href="#"><mat-icon>view_module</mat-icon><span> Card View</span></a></li>
            <li class="non-mobile"><a href="#"><mat-icon>view_headline</mat-icon><span>List View</span></a></li>
            <li><a [routerLink]="['/horse/add']"><mat-icon>add</mat-icon><span> New Horse</span></a></li>
        </ul>
    </nav>

    <app-horse-list-element [horses$]="horses$"
                            (selectedId)="onHorseSelected($event)"></app-horse-list-element>
 
    <footer>
        <mat-paginator [length]="horseCount"
            [pageSize]="initialPageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)=pageChangeEvent($event) #paginator></mat-paginator>       
    </footer>
 

</main>