<app-nav></app-nav>
<main>
    <h1>Horses</h1>
    <!-- <div *ngFor="let horse of horses">
        <p>{{horse.name}}</p>
    </div> -->
    <mat-table class="mat-elevation-z8" [dataSource]="horses$ | async">
  
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef >Name</mat-header-cell>
            <mat-cell *matCellDef="let horse">{{horse.name}}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="height">
            <mat-header-cell *matHeaderCellDef >Height</mat-header-cell>
            <mat-cell *matCellDef="let horse">{{horse.heightcm}}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="colour">
            <mat-header-cell *matHeaderCellDef>Colour</mat-header-cell>
            <mat-cell *matCellDef="let horse">{{horse.colour}}</mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        
    </mat-table>

    <mat-paginator [length]="horseCount"
                   [pageSize]="3"
                   [pageSizeOptions]="[3, 5, 10]"
                   (page)=pageChangeEvent($event) #paginator></mat-paginator>




</main>