header {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    .search-box {
        margin-top: 1rem;
        height: 3rem;
        width: 20rem;
        border: 0.1rem solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
       
        .search-btn, .reset-search-btn, input {
            border: none;
            outline: none;
        }

        .search-btn {
            padding: 0.15rem 0.1rem 0 0.2rem;
        }

        input {
            padding: 0.5rem;
        }

        button {
            background-color: white;
            border: 0.075rem solid #A0A0A0;
        } 
    }
}

h1 {
    margin-top: 1.5rem;
}

.horse-nav ul{
    display: flex;
    list-style-type: none;

    li {       
        button, a {
            background-color: white;
            border: none;  
            display: flex;
            align-items: center;  
            padding-right: 2rem;
            font-size: 1.2rem;
        } 

        a {
            text-decoration: none;
            color: black;
        }
    }
}

.no-horses {   
    width: 95%;
    height: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.search-term-present {
    opacity: 1;
    pointer-events: auto;
}

.no-search-term {
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    .non-mobile {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    
}