 /*You can add global styles to this file, and also import other style files */
 @import 'scss/theme';
 @import 'scss/globals';
 @import 'scss/mixins';
  
html, body { height: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


* {
    box-sizing: border-box;
    padding: 0; margin: 0;   
}

.container {
    padding: 0.5rem 2rem;
    margin: 0 auto;
}

.error-snackbar {
    background-color: var(--color-warn);
    color: white;

    button {
        color: white;
    }
}

.no-show {
    display: none;
}

.show {
    display: block;
}

