@mixin grazing-horse-background {
    position: relative;       
    height: 100vh; 
    overflow: hidden;   
    
    &::before {
        content: "";
        position: absolute;
        top:0; right:0; bottom:0; left:0;
        background: url(/assets/formBackground.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
        opacity: 0.75;
        z-index: -1;
    }
}
