.login-slider {
    height: 100vh;
    width: 20rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    margin: 0;
}

.close-btn {
    position: absolute;    
    top: 0.75rem;
    right: 0.75rem;
    background-color: var(--color-secondary);
}
