<div class="login-slider" 
             [@loginVisibility]="loginVisibility">

    <button mat-mini-fab
            class="close-btn"
            (click)="closeSlider()">
        <mat-icon>close</mat-icon>
    </button>           

    <h1>Sign in</h1>
    <form class="login-form">
        <div class="form-element">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
                <mat-hint>Enter email</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-element">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">
                <mat-hint>Enter password</mat-hint>
            </mat-form-field>   
        </div>
        <div class="form-element">
            <button mat-raised-button 
                   color="primary">Sign in
            </button>
        </div>       
    </form>
</div>
