
            <!-- <div class="grid">
                <div class="col"></div>
                <div class="col">name</div>
                <div class="col">height</div>
                <div class="col">colour</div>
                <div class="col">sex</div>
                <div class="col">dob</div>
                <div class="col">owners</div>
            </div>
         -->
            <!-- <div class="grid row" *ngFor="let horse of horses$ | async">
                <div class="col image-col">
                    <img [src]="horse.imageUrl ? horse.imageUrl : 'assets/images/horse_placeholder.jpg'" />
                </div>
           <!--    <div class="col">{{horse.name}}</div>  --> 
        <!--        <div class="col">Neigh</div>
                <div class="col">{{horse.heightcm}}</div>
                <div class="col">{{horse.colour}}</div>
                <div class="col">{{horse.sex}}</div>
                <div class="col">{{horse.dob | date: 'd-M-y'}}</div>
                 <div class="col">{{horse.displayOwners}}</div>
                <div class="col">esmerelada cox-jones and josephine hamilton smythe </div>
            </div>         -->

            <div class="responsive">
                <div class="box box1">abcdefghijklmnopqrdtuvwxyz</div>
                <div class="box box2">abcdefghijklmnopqrdtuvwxyz</div>
                <div class="box box3">abcdefghijklmnopqrdtuvwxyz</div>
                <div class="box box4">abcdefghijklmnopqrdtuvwxyz</div>       
            </div>
