.grid {
    display: grid;     
    grid-template-columns: repeat(7, minmax(max-content, 10rem)); 
}


.col {   
    max-width: 10rem;
    height: 5rem;
    background-color: lightcyan;
}

.image-col {
    max-width: 5rem;
    padding-right: 1rem;
    img {
        max-width: 100%;
        height: auto;       
    }  
}

.row:last-child {
    color: blue;
}
