.grid { 
    display: grid;     
    grid-template-columns: 5rem repeat(6, minmax(max-content, 10rem)); 
    justify-content: center;
    margin-top: 1.5rem;
}

.grid-data {
    display: contents;

    .col:not(:first-child) {
        padding-top: 1.25rem;
    }
}

.col {  

    max-width: 10rem;
    padding: 0.5rem; 
    border-bottom: 0.05rem solid #b8b8b8;
}

.image-col {
    max-width: 5rem;
    padding-right: 1rem;
    img {
        max-width: 100%;
        height: auto;       
    }  
}

.row:last-child {
    color: blue;
}
