<div class="grid">
    <div class="col"></div>
    <div class="col">name</div>
    <div class="col">height (hands)</div>
    <div class="col">colour</div>
    <div class="col">sex</div>
    <div class="col">dob</div>
    <div class="col">owners</div>
    <div class="grid-data" *ngFor="let horse of horses$ | async">
        <div class="col image-col">
            <img [src]= "horse.imageUrl ? horse.imageUrl : 'assets/images/horse_placeholder.jpg'" />
        </div>
        <div class="col">{{horse.name}}</div> 
        <div class="col">{{horse.heightHands}}</div>
        <div class="col">{{horse.colour}}</div>
        <div class="col">{{horse.sex}}</div>
        <div class="col">{{horse.dob | date: 'd-M-y'}}</div>
        <div class="col">{{horse.displayOwners}}</div>
    </div>
</div>
  